

@{
    ViewData["Title"] = "About Us";
}
<body>
    <div class="text-center">
        <div class="mb-3">
         <h1>E-commerce ASP.NET MVC CORE: Missione Compiuta!</h1>
        </div>
        <div>
        <h3>Chi siamo</h3>
            <div class="jumbotron">
            <img src="/asset/fotonostra_1.png" alt="foto" />
        </div>
        </div>
        <div>
            <p class="testo-chi-siamo">Abbiamo concluso la Build-Week 4 con la creazione di un e-commerce ASP.NET MVC CORE. La nostra applicazione presenta una homepage con prodotti, immagini, prezzi e link alle pagine di dettaglio. Qui, gli utenti possono leggere descrizioni, scegliere quantità e aggiungere articoli al carrello. La pagina amministrativa consente di inserire, modificare e visualizzare i prodotti. Tutti i dati sono archiviati in un database SQL Server. Abbiamo utilizzato CSS per un design accattivante. Anche se la pagina admin è aperta a tutti, è stata progettata pensando alle future autorizzazioni. Un lavoro ben fatto, tra serietà e un pizzico di ironia!</p>
        </div>
    </div>
</body>
</html>
